RAG Pipeline.json
{
  "name": "RAG Pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13ToyoowSi1Debjw9_YhpORMnoXS6Mlh-",
          "mode": "list",
          "cachedResultName": "Puvanakopis ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13ToyoowSi1Debjw9_YhpORMnoXS6Mlh-"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -48
      ],
      "id": "04208ad9-490a-41d6-92ea-f20f52d310db",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fRLfTtj7d4ZBoyRS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        -48
      ],
      "id": "152566cc-6f62-4ca2-b80a-9701faf77c56",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fRLfTtj7d4ZBoyRS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-drive-new",
          "mode": "list",
          "cachedResultName": "n8n-drive-new"
        },
        "embeddingBatchSize": 768,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        -48
      ],
      "id": "159abfea-d9b9-4ba9-8ea3-24c11ce9379d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "mnXIt7kbFwVzUAYD",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        160
      ],
      "id": "7a51f5ba-731e-4aa3-992e-7b3ef30f08aa",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "fH8z9cGi9pFOZIeq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        432,
        160
      ],
      "id": "a1b9d926-803f-4aa4-870c-d84632dce3b0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant for give the data about the cv"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        -224
      ],
      "id": "22624a37-a087-4026-a47b-8273422bdd62",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        544,
        -224
      ],
      "id": "0b8e54c1-5e3b-4b5e-8a62-deda0f6c4828",
      "name": "When chat message received",
      "webhookId": "60a57426-5d85-4822-aed2-7b595ff7e9c9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        0
      ],
      "id": "d2c9214a-9485-4c7c-8651-c7a09a1bc95e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kGUXsOLl2mOO7nyk",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "about CV",
        "pineconeIndex": {
          "__rl": true,
          "value": "drive-n8n",
          "mode": "list",
          "cachedResultName": "drive-n8n"
        },
        "options": {
          "pineconeNamespace": "CV"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1152,
        80
      ],
      "id": "7518f445-4544-40b2-9a53-94ad8159ffd0",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "DAIDEmd7AKJ9Op05",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1248,
        288
      ],
      "id": "5974ba15-4e91-4199-a895-7abecf34ccce",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "kGUXsOLl2mOO7nyk",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c4ea9aaa-9b13-4291-ada1-4d7d63adc11a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b12e90eeea90cd362285085e8ccb6992868a3b530e2c8c169b64796414bcfdb"
  },
  "id": "smPJ1IxhDfNYWZAP1Wrzk",
  "tags": []
}